body {
    background-color: white;
}

.main {
    border: none;
    margin: 0 auto;
    width: 70%;
}

h1 {
    font-family: "Cantarell";
    font-size: 50px;
    text-align: center;
    color: white;
}

#navbar {
    
    position: fixed;
    /* Make it stick/fixed */
    top: 0px;
    /* Hide the navbar 50 px outside of the top view */
    width: 100%;
    /* Full width */
    transition: top 0.3s;
    /* Transition effect when sliding down (and up) */
    opacity: 1.0;
}



.mainn {
    border: none;
    margin-top: 100px;
    margin-right: 50px;
    margin: 0 auto;
    /*background-image:url("../img/1.jpg");*/
    background-color: wheat;
    width: 70%;
    height: 100%;
    background-repeat: repeat-x;
    /* box-shadow: 0 0 3px 3px white inset; */
    /* -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px); */
}

#footersub {
    color: sienna;
    font-family: "Cantarell";
    width: 100%;
    font-size: 17px;
    text-align: center;
    background: darkviolet;
    background: linear-gradient(90deg, darkviolet, sienna);
}

#sub {
    color: sienna;
    font-family: "Cantarell";
    width: 100%;
    font-size: 17px;
    text-align: center;
    background-color: white;
    /*background-image: url("../img/1.jpg");*/
}

p#sub {
    color: sienna;
    font-family: "Cantarell";
    width: 100%;
    text-align: center;
    font-size: 17px;
}

a:link {
    color: darkgrey;
    background-color: transparent;
    text-decoration: none;
    font-family: "Cantarell";
    size: 50px;
}

a:visited {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
    font-family: "Cantarell";
    size: 50px;
}

a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
    font-family: "Cantarell";
    size: 50px;
}

a:active {
    color: darkgrey;
    background-color: transparent;
    text-decoration: underline;
    font-family: "Cantarell";
    size: 50px;
}

/* footer{
    clear: both;
    text-align: center;
    background:darkviolet;
    background: linear-gradient(90deg,darkviolet, sienna);
    background-repeat: repeat-x;
    color: white;
    font-family: "cantarell";
    font-size: 14px;
} */

section {
    /*background-image: url("../img.conto.jpg");*/
    font-family: "Cantarell";
    text-align: center;
    font-size: 14px;
    background-color: white;
    color: black;
}

.art {
    background-color: white;
    font-family: "Cantarell";
    font-size-adjust: 14px;
    text-align: left;
    border-left: 2px solid yellow;
}

.blurred {
    border: none;
    margin-top: 100px;
    margin: 0 auto;
    background-image: url("../img/1.jpg");
    width: 100%;
    height: 100%;
    background-repeat: repeat-x;
    box-shadow: 0 0 3px 3px white inset;
    /* -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px); */
}

header {
    background: darkviolet;
    background: linear-gradient(90deg, darkviolet, sienna);
    color: sienna;
}

* {
    box-sizing: border-box;
}

.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    border-radius: 4px;
    transition: 0.3s;
    font-family: "cantarell";
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
    font-family: "cantarell";
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
    font-family: "cantarell";
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
    font-family: "cantarell";
}

.button {
    background-color: black;
    border: none;
    color: sienna;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-family: "cantarell";
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

.logo {
    height: 50px;
    width: 75px;
}

.div {
    border-top: 2px solid gold;
}

.logo1 {
    padding: 0;
    height: 20px;
    width: 40px;
}

.division {
    background-color: transparent;
    margin-top: 80px;
    margin-bottom: 45px;
    margin-left: 450px;
    margin-right: 550px;
}

.us {
    border: 0.5px solid gray;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 400px;
    height: 65px;
    background-color: transparent;
    padding-left: 15px;
    font-size: 20px;
}

.ps {
    border: 0.5px solid gray;
    border-top: 0.5px solid gray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 400px;
    height: 65px;
    background-color: transparent;
    padding-left: 15px;
    font-size: 20px;
}

.writing {
    font-family: "Paytone One";
    text-align: left;
    font-size: 25px;
    color: black;
}

.sub {
    background-color: dodgerblue;
    font-family: "Paytone One";
    color: white;
    border: 0.5px solid dodgerblue;
    border-radius: 6px;
    width: 100px;
    height: 50px;
    margin-left: 150px;
    text-decoration: none;
}

.sub:hover {
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2)
}

.nm {
    border: 0.5px solid gray;
    border-top: 0.5px solid gray;
    /* border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;  */
    width: 400px;
    height: 65px;
    background-color: transparent;
    font-family: "cantarell";
    font-size: 15px;
    padding-left: 15px;
    font-size: 20px;
}

.lin {
    font-family: "cantarell";
    font-size: 15px;
    color: gray;
    text-align: center;
}

.navvv {
    background-color: transparent;
    color: white;
    width: 100%;
    border: none;
}

.navvv:hover {
    background-color: transparent;
}

.heed {
    background: black;
    background: linear-gradient(90deg, black, darkslategrey);
}

.man {
    width: 30%;
    margin: 0 auto;
}

.bord {
    border: 5px solid;
    border-image: url(../img/kente.jpg) 30 round;
}

.parallax {
    /* The image used */
    background-image: url("img_parallax.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}